%h1 Todas as localizações

%table
  %thead
    %tr
      %th Nome
      %th Latitude
      %th Longitude
      %th
      %th
      %th

  %tbody
    - @localizacoes.each do |localizacao|
      %tr
        %td= localizacao.nome
        %td= localizacao.latitude
        %td= localizacao.longitude
        %td= link_to 'Show', localizacao
        %td= link_to 'Edit', edit_localizacao_path(localizacao)
        %td= link_to 'Destroy', localizacao, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Localizacao', new_localizacao_path

// Aqui ficará o mapa
%hr
%br
%div{style:'width: 100%;'}
  #gmap-dropdown{style:'width: 100%; height: 450px;'}


// MAPLACE
:javascript
  new Maplace({
    locations : #{@localizacoes.to_json(:only => [ :latitude, :longitude, :nome]).gsub('latitude', 'lat').gsub('longitude', 'lon').gsub('nome', 'title')},
    //locations: #{@localizacoes.to_json(:only => [ :latitude, :longitude, :nome]).gsub('latitude', 'lat').gsub('longitude', 'lon').gsub('nome', 'title')},
    map_div: '#gmap-dropdown',
    controls_title: 'Selecione uma localização:',
    draggable : false,
    view_all_text: "Ver todos",
    type: 'polyline',
    shared: {
        zoom: 16,
        html: '#{@localizacoes.find(1).created_at.to_json}'
    }
  }).Load();